<a href="https://colab.research.google.com/github/atg2431-alpha/neural_net_basics/blob/main/Cars_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
cars_data =pd.read_csv('quikr_car.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'quikr_car.csv'

In [4]:
cars_data.head()

NameError: name 'cars_data' is not defined

In [5]:
cars_data.shape

NameError: name 'cars_data' is not defined

In [ ]:
cars_data.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

Problems with the data
year has non year values

In [ ]:
cars_data['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

There are all objects we need to convert them to integers
we need to keep the first 3 words in the name dataset

In [ ]:
backup =  cars_data.copy()

In [1]:
cars_data = cars_data[cars_data['year'].str.isnumeric()]

NameError: name 'cars_data' is not defined

In [ ]:
cars_data.shape

(842, 6)

In [ ]:
cars_data['year'] = cars_data['year'].astype(int)

<ipython-input-10-b88e2dfb729d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data['year'] = cars_data['year'].astype(int)

In [ ]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [ ]:
cars_data= cars_data[cars_data['Price']!="Ask For Price"]

In [ ]:
cars_data.shape

(842, 6)

In [ ]:
cars_data['Price']=cars_data['Price'].str.replace(',','')

In [ ]:
cars_data['Price']=cars_data['Price'].astype(int)

In [ ]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [ ]:
cars_data['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [ ]:
cars_data['kms_driven']=cars_data['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [ ]:
cars_data['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890    Petrol
891    Petrol
Name: kms_driven, Length: 819, dtype: object

In [ ]:
cars_data = cars_data[cars_data['kms_driven'].str.isnumeric()]

In [ ]:
cars_data['kms_driven']=cars_data['kms_driven'].astype(int)

In [ ]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [ ]:
cars_data=cars_data[~cars_data['fuel_type'].isna()]

In [ ]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [ ]:
cars_data['name'] = cars_data['name'].str.split(' ').str.slice(0,3).str.join(' ')

<ipython-input-43-f1626f2ecc03>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data['name'] = cars_data['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [ ]:
cars_data.shape

(816, 6)

In [ ]:
cars_data.reset_index(drop = True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [ ]:
cars_data=cars_data[cars_data['Price']<6e6].reset_index(drop=True)

In [ ]:
x =  cars_data.drop(columns='Price')
y = cars_data['Price']

In [ ]:
from sklearn.preprocessing import OneHotEncoder